# RPC endpoint
# RPC_URL=

# absolute path for a local keypair file
# LOCAL_PAYER_JSON_ABSPATH=

## example of using an absolute path for a current filesystem keypair
# LOCAL_PAYER_JSON_ABSPATH=/home/nick/.config/solana/id.json